.react {
  background: aqua;
  color: black;
  font-size: 48px;
  font-weight: bold;
  padding: 16px;
}

.react2 {
  background: black;
  color: white;
  font-size: 20px;
  font-weight: bold;
  padding: 5px;
}
